<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletCalculos</servlet-name>
        <servlet-class>mx.edu.cecyt9.ipn.controller.ServletCalculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProyectos</servlet-name>
        <servlet-class>mx.edu.cecyt9.ipn.controller.ServletInfoProyectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeltRegistro</servlet-name>
        <servlet-class>mx.edu.cecyt9.ipn.controller.ServeltRegistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletInicioSesión</servlet-name>
        <servlet-class>mx.edu.cecyt9.ipn.controller.ServletIS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletGenerarProyecto</servlet-name>
        <servlet-class>mx.edu.cecyt9.ipn.controller.ServletGenerarProyecto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletConsultaPro</servlet-name>
        <servlet-class>mx.edu.cecyt9.ipn.controller.ServletConsultaPro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAgregarForm</servlet-name>
        <servlet-class>mx.edu.cecyt9.ipn.controller.ServletAgregarForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletModCalculos</servlet-name>
        <servlet-class>mx.edu.cecyt9.ipn.controller.ServletModCalculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVerSimulacion</servlet-name>
        <servlet-class>mx.edu.cecyt9.ipn.controller.ServletVerSimulacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServeltIS</servlet-name>
        <servlet-class>mx.edu.cecyt9.ipn.controller.ServeltIS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCalculos</servlet-name>
        <url-pattern>/ServletCalculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProyectos</servlet-name>
        <url-pattern>/ServletProyectos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeltRegistro</servlet-name>
        <url-pattern>/ServeltRegistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletInicioSesión</servlet-name>
        <url-pattern>/ServletInicioSesi_n</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletGenerarProyecto</servlet-name>
        <url-pattern>/ServletGenerarProyecto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletConsultaPro</servlet-name>
        <url-pattern>/ServletConsultaPro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAgregarForm</servlet-name>
        <url-pattern>/ServletAgregarForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletModCalculos</servlet-name>
        <url-pattern>/ServletModCalculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVerSimulacion</servlet-name>
        <url-pattern>/ServletVerSimulacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServeltIS</servlet-name>
        <url-pattern>/ServeltIS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
